<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="static/styles/6-filters.css">
    <link rel="stylesheet" href="static/styles/4-common.css">
    <link rel="stylesheet" href="static/styles/3-header.css">
    <link rel="stylesheet" type="text/css" href="static/styles/3-footer.css">
    <link rel="icon" href="images/icon.png">
</head>

<body>
    <header></header>
    <div class="container">
        <section class="filters">
            <div class="locations">
                <h3>State</h3>
                <h4>&nbsp;</h4>
                <div class="popover">
                    <ul>
                        {% for state in states %}
                        <li><b>{{ state.name }}</b>
                            <ul class="city-list">
                                {% for city in state.cities %}
                                <li>{{ city.name }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="amenities">
                <h3>Amenities</h3>
                <h4>&nbsp;</h4>
                <div class="popover">
                    <ul>
                        {% for amenity in amenities %}
                        <li>{{ amenity.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <button>Search</button>
        </section>
    </div>
    <footer>Best School</footer>
</body>

</html>