<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBNB</title>
</head>

<body>
    {% if states1 %}
        <h1>States</h1>
        <ul>
            {% for state in states1 %}
            <li><b>{{ state.name }}</b></li>
            {% endfor %}
        </ul>
    {% elif state1 %}
    <h1>States: {{state1.name}}</h1>
        <h3>Cities:</h3>
        <ul>
            {% for city in cities1 %}
            <li>{{city.id}}: <b>{{city.name}}</b></li>
            {% endfor %}
        </ul>
    {% else %}
    <h1>Not found!</h1>
    {% endif %}
</body>

</html>